<div id="promos" class="wrapper">
<div class="col-md-12">
        <div class="slideshow">
            <article id="promotile-139" class="fr-promo">
                <h4><a href="offers/index.html" class="fs_link fs_title">Back to School</a></h4> 
                <a href="offers/index.html" class="fs_link thumbnail">
                    <img title="Back to School" alt="Back to School" src="/images/cms/cache/220x220/36/689-360a297d81a24424f1948be4cd12ee98.jpg" class="fs_image">
                </a>
                <div class="description"> <span class="fs_descr">Receive an exclusive discount plus breakfast </span>  <a href="offers/index.html" class="fs_link fs_link_title button">Read More</a> 
                </div>
            </article>
            <article id="promotile-152" class="fr-promo">
                <h4><a href="offers/see-forever.html" class="fs_link fs_title">See Forever at One World Observatory</a></h4> 
                <a href="offers/see-forever.html" class="fs_link thumbnail">
                    <img title="See Forever at One World Observatory" alt="See Forever at One World Observatory" src="/images/cms/cache/220x220/0f/629-0f50ec8a203daba675b6eb7c210f50e0.jpg" class="fs_image">
                </a>
                <div class="description"> <span class="fs_descr">Enjoy the views from above and see forever in NY’s newest attraction! </span>  <a href="offers/see-forever.html" class="fs_link fs_link_title button">Learn More</a> 
                </div>
            </article>
            <article id="promotile-151" class="fr-promo">
                <h4><a href="offers/ny-summer-staycation.html" class="fs_link fs_title">Staycation in New York</a></h4> 
                <a href="offers/ny-summer-staycation.html" class="fs_link thumbnail">
                    <img title="Staycation in New York" alt="Staycation in New York" src="/images/cms/cache/220x220/55/687-55f0b340fd40a57e4ed9bba4eab7d1c3.jpg" class="fs_image">
                </a>
                <div class="description"> <span class="fs_descr">Enjoy free parking & breakfast on us this Fall! </span>  <a href="offers/ny-summer-staycation.html" class="fs_link fs_link_title button">Learn More</a> 
                </div>
            </article>
            <article id="promotile-153" class="fr-promo">
                <h4><a href="offers/autumn.html" class="fs_link fs_title">Autumn in Central Park</a></h4> 
                <a href="offers/autumn.html" class="fs_link thumbnail">
                    <img title="Autumn in Central Park" alt="Autumn in Central Park" src="/images/cms/cache/220x220/06/270-06e6a60808f7816f20dcad3043e59506.jpg" class="fs_image">
                </a>
                <div class="description"> <span class="fs_descr">Wheels for two? Book now for a guided bike tour through Central Park! </span>  <a href="offers/autumn.html" class="fs_link fs_link_title button">Read More</a> 
                </div>
            </article>
        </div>
        </div>
    </div>