<div id="photos">
        <div class="slideshow">
            <figure class="photo" style="background-image:url('/images//cms/cache/1920x1080/35/650-35d0dddb790637a1a224b45488cf4520.jpg');">
                <a href="/members-only/" target="_blank">
                    <img src="/images//cms/cache/1920x1080/35/650-35d0dddb790637a1a224b45488cf4520.jpg" alt="Promo Hero Slide Members Only" title="">
                </a>
            </figure>
            <figure class="photo" style="background-image:url('/images//cms/cache/1920x1080/bf/26-bf49f400082c1521beb04bb2d58b61da.jpg');">
                <img src="/images//cms/cache/1920x1080/bf/26-bf49f400082c1521beb04bb2d58b61da.jpg" alt="Empire state building view at dusk" title="EXTEND YOUR STAY FOR BIGGER SAVINGS!">
                <div class="caption">
                    <figcaption>EXTEND YOUR STAY FOR BIGGER SAVINGS!</figcaption> <a href="/offers/stay-longer-save-more/" class="button" target="_blank">Book Now</a> 
                </div>
            </figure>
            <figure class="photo" style="background-image:url('/images//cms/cache/1920x1080/4b/528-4b562672f1ce8c8cf27ec8404a608b8e.jpg');">
                <img src="/images//cms/cache/1920x1080/4b/528-4b562672f1ce8c8cf27ec8404a608b8e.jpg" alt="Couple at Flatiron Building" title="">
            </figure>
            <figure class="photo" style="background-image:url('/images//cms/cache/1920x1080/5b/477-5b0a9bda30defee8da842774262a0520.jpg');">
                <img src="/images//cms/cache/1920x1080/5b/477-5b0a9bda30defee8da842774262a0520.jpg" alt="Hotel Chandler Exterior" title="">
            <figure class="photo" style="background-image:url('/images//cms/cache/1920x1080/92/93-92668a582dfbea6f7003a53ea1071d79.jpg');">
                <img src="/images//cms/cache/1920x1080/92/93-92668a582dfbea6f7003a53ea1071d79.jpg" alt="modern Executive Suite in Hotel Chandler" title="">
            </figure>
            <figure class="photo" style="background-image:url('/images//cms/cache/1920x1080/b3/74-b31bc1c355566b684a39f45519f78603.jpg');">
                <img src="/images//cms/cache/1920x1080/b3/74-b31bc1c355566b684a39f45519f78603.jpg" alt="Historic Hotel Chandler Lobby" title="">
            </figure>
            <figure class="photo" style="background-image:url('/images//cms/cache/1920x1080/8a/53-8acda8aba013301cbb2ef31bace82d44.jpg');">
                <img src="/images//cms/cache/1920x1080/8a/53-8acda8aba013301cbb2ef31bace82d44.jpg" alt="" title="">
            </figure>
        </div>
        <div class="scroll-to-explore">Scroll to Explore</div>
    </div>

    