<section id="home-tabs" class="wrapper">
        <article id="tab-1">
            <img src="/images/cms/cache/460x240/b9/1-b96a10ef12c840dca883276162b6fe09.jpg" />
            <h3>Visual Gallery</h3> 
            <div class="controls-tab"> <a href="/index.html" class="viewmore">View More</a> 
            </div>
        </article>
        <article id="tab-2">
            <img src="/images/cms/cache/460x240/c2/26-c20f14141d61f7cd116317ddd4faaa38.jpg" />
            <h3>Members Only</h3> 
            <div class="controls-tab"> <a href=" /members-only/" class="viewmore events">View All Events</a> 
            </div>
        </article>
    </section>