<div class="testimonials-wrap">
        <div id="testimonials" class="wrapper">
            <h2><a href="index.html">Testimonials</a></h2> 
            <div class="slideshow">
                <article data-page-index="0">
                    <p>The hotel is very clean and the staff is extraordinarily helpful. Martha at the front desk was particularly helpful. Not far from the midtown attractions. I would highly recommend next time you are in New York City.</p> <span class="tauthor">Brian L</span> 
                </article>
                <article data-page-index="1">
                    <p>I just had a 3 night stay with my adult daughter and we both really enjoyed the Hotel Chandler. It is small and intimate with especially helpful and cheerful staff. Situated just off 5th Avenue it has a great location to walk to Macy's,
                        Times Square, Empire State</p> <span class="tauthor">williama118</span> 
                </article>
                <article data-page-index="2">
                    <p>We had a great stay. The location is terrific, the staff makes you feel like you are a VIP and the rooms/amenities are terrific. Everything is clean and comfortable. You have exactly what you need for a weekend in NYC. I highly recommend
                        this place.</p> <span class="tauthor">Janine A</span> 
                </article>
            </div>
        </div>
    </div>